/*
	modify:2010.11.23
*/
/*reset*/
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, form, input, button, p{ margin:0; padding:0; }
body{font: 12px/1.75 \5b8b\4f53, sans-serif;}
img { border:none;}
cite,em,i{font-style:normal;}
ol, ul, li { list-style:none;}
legend{color:#000;}
h1, h2, h3, h4, h5, h6{ font-size:100%;font-weight:normal;}
button, input, select, textarea {font-size: 100%;}
input{font-size:12px;color:#333;}
html{overflow-y: scroll; }
a:link,a:visited{text-decoration:none;}
a:hover,a:active{text-decoration:underline;}
.pub_time{color:#bab9b9;}
/* 公共 */
.pub_time{font-size:12px;}
.font_w_b{font-weight:bold;}
/* top图 */
.banner_zt {margin:0 auto; text-align:center; width:960px;}
.banner_zt img{}
.banner_zt .quick_ct{height:150px;}
.banner_zt .quick_ct .maintitle{font-family:"微软雅黑,黑体";font-size:36px;line-height:45px;margin:0 auto;width:870px;color:white;padding-top:30px;padding-bottom:20px;}
.banner_zt .quick_ct .subtitle{font-family:"宋体";font-size:14px;line-height:21px;margin:0 auto;width:770px;color:white;}
.banner_zt .quick_ct a,.banner_zt .quick_ct a:hover,.banner_zt .quick_ct a:visited{color:white;text-decoration:none;}

/* 主题内容区 */
.wrapper_zt {margin:0 auto; overflow:hidden; width:960px;} 

/* 布局 */
.layout_r1,
.layout_r2_1,.layout_r2_2,.layout_r2_3,.layout_r2_4,.layout_r2_5,.layout_r2_6,.layout_r2_7,.layout_r2_8,
.layout_r3_1,.layout_r3_2,.layout_r3_3,.layout_r3_4,.layout_r3_5,.layout_r3_6,.layout_r3_7{margin:10px auto 0;overflow:hidden;*zoom:1;}
.col_1,.col_2,.col_3{float:left;background-color:#fff;}
.col_2,.col_3{margin-left:10px; display:inline;}
/* 960 */
.layout_r1{}
.layout_r1 .col_1{width:960px;}
.layout_r1 .col_2{display:none;}
.layout_r1 .col_3{display:none;}
/* 700_250 */
.layout_r2_1{}
.layout_r2_1 .col_1{width:700px;}
.layout_r2_1 .col_2{width:250px;}
.layout_r2_1 .col_3{display:none;}
/* 250_700 */
.layout_r2_2{}
.layout_r2_2 .col_1{width:250px;}
.layout_r2_2 .col_2{width:700px;}
.layout_r2_2 .col_3{display:none;}
/* 475_475 */
.layout_r2_3{}
.layout_r2_3 .col_1{width:475px;}
.layout_r2_3 .col_2{width:475px;}
.layout_r2_3 .col_3{display:none;}
/* 570_380 */
.layout_r2_4{}
.layout_r2_4 .col_1{width:570px;}
.layout_r2_4 .col_2{width:380px;}
.layout_r2_4 .col_3{display:none;}
/* 380_570 */
.layout_r2_5{}
.layout_r2_5 .col_1{width:380px;}
.layout_r2_5 .col_2{width:570px;}
.layout_r2_5 .col_3{display:none;}
/* 640_310 */
.layout_r2_6{}
.layout_r2_6 .col_1{width:640px;}
.layout_r2_6 .col_2{width:310px;}
.layout_r2_6 .col_3{display:none;}
/* 310_640 */
.layout_r2_7{}
.layout_r2_7 .col_1{width:310px;}
.layout_r2_7 .col_2{width:640px;}
.layout_r2_7 .col_3{display:none;}
/* 590_360 */
.layout_r2_8{}
.layout_r2_8 .col_1{width:590px;}
.layout_r2_8 .col_2{width:360px;}
.layout_r2_8 .col_3{display:none;}
/* 310_380_250 */
.layout_r3_1{}
.layout_r3_1 .col_1{width:310px;}
.layout_r3_1 .col_2{width:380px;}
.layout_r3_1 .col_3{width:250px;}
/* 380_310_250 */
.layout_r3_2{}
.layout_r3_2 .col_1{width:380px;}
.layout_r3_2 .col_2{width:310px;}
.layout_r3_2 .col_3{width:250px;}
/* 250_380_310 */
.layout_r3_3{}
.layout_r3_3 .col_1{width:250px;}
.layout_r3_3 .col_2{width:380px;}
.layout_r3_3 .col_3{width:310px;}
/* 250_440_250 */
.layout_r3_4{}
.layout_r3_4 .col_1{width:250px;}
.layout_r3_4 .col_2{width:440px;}
.layout_r3_4 .col_3{width:250px;}
/* 250_345_345 */
.layout_r3_5{}
.layout_r3_5 .col_1{width:250px;}
.layout_r3_5 .col_2{width:345px;}
.layout_r3_5 .col_3{width:345px;}
/* 345_345_250 */
.layout_r3_6{}
.layout_r3_6 .col_1{width:345px;}
.layout_r3_6 .col_2{width:345px;}
.layout_r3_6 .col_3{width:250px;}
/* 313_314_313 */
.layout_r3_7{}
.layout_r3_7 .col_1{width:313px;}
.layout_r3_7 .col_2{width:314px;}
.layout_r3_7 .col_3{width:313px;}

/* 栏目间隔 */
.blank_zt{height:10px;overflow:hidden;clear:both;}

/* 栏目块 */
.mod_zt_1,.mod_zt_2,.mod_zt_3,.mod_zt_4,.mod_zt_5,.mod_zt_6,.mod_zt_7{}
.hd{}
.hd .tit{float:left; text-align:left;}
.hd .tit i{ display:inline-block; vertical-align:middle}
.hd .more{float:right; text-align:right;}
.bd{}
.bd .inner{}

/***************************************** widget *****************************************/

/* 大头条 */
.zt_c_1{padding:5px 5px 0 5px;}
.zt_c_1 h2{text-align:center;font-weight:normal;font-size:20px;line-height:31px;font-family:"黑体";}
.zt_c_1 ul{line-height:21px;font-size:14px;}

/* 小头条 */
.zt_c_2{padding:5px 5px 0 5px;}
.zt_c_2 h4{text-align:center;height:25px;font-size:18px;line-height:25px;font-weight:normal;font-family:"黑体";}
.zt_c_2 ul{line-height:18px;font-size:12px;}

/* 14px列表 */
.zt_c_3{padding:5px;}
.zt_c_3 ul{line-height:25px;font-size:14px;}
.zt_c_3 .pub_time{font-size:12px;}

/* 12px列表 */
.zt_c_4{padding:5px;}
.zt_c_4 ul{line-height:21px;font-size:12px;}
.zt_c_4 .pub_time{font-size:12px;}

/* 图片+标题+摘要 */
.zt_c_5,.zt_c_25,.zt_c_26{zoom:1;padding-top:5px;overflow:hidden;}
.zt_c_5 .ct,.zt_c_25 .ct,.zt_c_26 .ct{text-align:center;width:100%;table-layout:fixed;}
.zt_c_5 .item,.zt_c_25 .item,.zt_c_26 .item{padding:0 5px 5px 5px;overflow:hidden;text-align:left;}
.zt_c_5 .img_area,.zt_c_25 .img_area,.zt_c_26 .img_area{float:left;width:auto;padding:3px 10px 0 0;}
.zt_c_5 .text_area,.zt_c_25 .text_area,.zt_c_26 .text_area{line-height:20px;}
.zt_c_5 h5,.zt_c_25 h5,.zt_c_26 h5{font-weight:bold;font-size:12px;}
.zt_c_5 a.color_red,.zt_c_5 a.color_red:visited,.zt_c_25 a.color_red,.zt_c_25 a.color_red:visited,.zt_c_26 a.color_red,.zt_c_26 a.color_red:visited{color:#BC2D09;}
.zt_c_5 a.color_black,.zt_c_5 a.color_black:visited,.zt_c_25 a.color_black,.zt_c_25 a.color_black:visited,.zt_c_26 a.color_black,.zt_c_26 a.color_black:visited{color:#333;}

/* 图片列表 */
.zt_c_6,.zt_c_14,.zt_c_15,.zt_c_16,.zt_c_17,.zt_c_18{padding-top:5px;overflow:hidden;}
.zt_c_6 .img_ct,.zt_c_14 .img_ct,.zt_c_15 .img_ct,.zt_c_16 .img_ct,.zt_c_17 .img_ct,.zt_c_18 .img_ct{text-align:center;width:100%;table-layout:fixed;}
.zt_c_6 .img_area,.zt_c_14 .img_area,.zt_c_15 .img_area,.zt_c_16 .img_area,.zt_c_17 .img_area,.zt_c_18 .img_area{line-height:18px;margin-bottom:8px;padding:0 4px;font-size:12px;overflow:hidden;}
.zt_c_6 .img_area img,.zt_c_14 .img_area img,.zt_c_15 .img_area img,.zt_c_16 .img_area img,.zt_c_17 .img_area img,.zt_c_18 .img_area img{margin-bottom:8px;}

/* 焦点图一 */
.zt_c_7{zoom:1;overflow:hidden;text-align:center;}
.zt_c_7 div{text-align:center;}

/* 视频 */
.zt_c_8{zoom:1;overflow:hidden;text-align:center;}

/* 评论 */
.zt_c_9{zoom:1;overflow:hidden;}

/* 文本段 */
.zt_c_10{padding:5px;}
.zt_c_10 h2{text-align:center;height:31px;font-weight:normal;font-size:20px;line-height:31px;font-family:"黑体";}
.zt_c_10 h2 a.color_red,.zt_c_10 h2 a.color_red:visited{color:#BC2D09;}
.zt_c_10 h2 a.color_black,.zt_c_10 h2 a.color_black:visited{color:#333;}
.zt_c_10 .text_area{text-indent:2em;font-size:12px;}
.zt_c_10 a.color_red,.zt_c_10 a.color_red:visited{color:#BC2D09;}
.zt_c_10 a.color_black,.zt_c_10 a.color_black:visited{color:#333;}

/* 图片+摘要 */
.zt_c_11,.zt_c_27,.zt_c_28,.zt_c_29,.zt_c_30{zoom:1;padding:5px 5px 0;overflow:hidden;}
.zt_c_11 .ct,.zt_c_27 .ct,.zt_c_28 .ct,.zt_c_29 .ct,.zt_c_30 .ct{text-align:center;width:100%;table-layout:fixed;}
.zt_c_11 .item,.zt_c_27 .item,.zt_c_28 .item,.zt_c_29 .item,.zt_c_30 .item{padding:0 5px 5px;}
.zt_c_11 .img_area,.zt_c_27 .img_area,.zt_c_28 .img_area,.zt_c_29 .img_area,.zt_c_30 .img_area{text-align:center;}
.zt_c_11 .text_area,.zt_c_27 .text_area,.zt_c_28 .text_area,.zt_c_29 .text_area,.zt_c_30 .text_area{text-indent:2em;text-align:left;}

/* 14px链接 */
.zt_c_12{padding:5px;font-size:14px;}
.zt_c_12 ul{line-height:25px;}

/* 12px链接 */
.zt_c_13{padding:5px;font-size:12px;}
.zt_c_13 ul{line-height:21px;}

/* 自定义代码 */
.zt_c_19{overflow:hidden;}

/* 评论-留言板 */
.zt_c_20{padding:10px;overflow:hidden;}
.zt_c_20 input{font-size:12px;}
.zt_c_20 .nick_area{padding-bottom:5px;}
.zt_c_20 .nick_label{font-weight:bold;font-size:12px;padding-right:5px;}
.zt_c_20 .nick{width:110px;font-size:12px;}
.zt_c_20 textarea{border:1px solid rgb(127,157,185);padding:5px;overflow:hidden;width:100%;height:100px;font-size:12px;}
.zt_c_20 .count_area{text-align:left;}
.zt_c_20 .btn_area{width:120px;text-align:right;}
.zt_c_20 .btn_area input{padding-left:3px;padding-right:3px;}
.zt_c_20 a{font-size:12px;}

/* 焦点图二 */
.zt_c_24{zoom:1;overflow:hidden;text-align:center;background-color:#f4f5ef;}

/* 视频列表 */
.zt_c_31,.zt_c_32,.zt_c_33,.zt_c_34,.zt_c_35{padding-top:5px;overflow:hidden;}
.zt_c_31 .video_ct,.zt_c_32 .video_ct,.zt_c_33 .video_ct,.zt_c_34 .video_ct,.zt_c_35 .video_ct{width:100%;table-layout:fixed;}
.zt_c_31 .video_area,.zt_c_32 .video_area,.zt_c_33 .video_area,.zt_c_34 .video_area,.zt_c_35 .video_area{overflow:hidden;border:1px solid #DDE2E9;background:#fff;width:170px;padding-top:2px;height:140px;margin:0 auto 23px;text-align:center;}
.zt_c_31 .video_area img,.zt_c_32 .video_area img,.zt_c_33 .video_area img,.zt_c_34 .video_area img,.zt_c_35 .video_area img{vertical-align:bottom;width:160px;height:90px;}
.zt_c_31 .video_ct td,.zt_c_32 .video_ct td,.zt_c_33 .video_ct td,.zt_c_34 .video_ct td,.zt_c_35 .video_ct td{vertical-align:top;text-align:center;}
.zt_c_31 .video_area .video_pic,.zt_c_32 .video_area .video_pic,.zt_c_33 .video_area .video_pic,.zt_c_34 .video_area .video_pic,.zt_c_35 .video_area .video_pic{position:relative;width:160px;height:90px;margin:0 auto 2px;}
.zt_c_31 .video_area td.video_tit,.zt_c_32 .video_area td.video_tit,.zt_c_33 .video_area td.video_tit,.zt_c_34 .video_area td.video_tit,.zt_c_35 .video_area td.video_tit{height:40px;vertical-align:top;overflow:hidden;}
.zt_c_31 .video_area td.video_tit a,.zt_c_32 .video_area td.video_tit a,.zt_c_33 .video_area td.video_tit a,.zt_c_34 .video_area td.video_tit a,.zt_c_35 .video_area td.video_tit a{cursor:pointer;color:#2C4E7C;}
.zt_c_31 .video_area td.video_tit p,.zt_c_32 .video_area td.video_tit p,.zt_c_33 .video_area td.video_tit p,.zt_c_34 .video_area td.video_tit p,.zt_c_35 .video_area td.video_tit p{width:160px;margin:0 auto;color:#2C4E7C;text-align:left;line-height:18px;}
.zt_c_31 .video_area td.video_tit a:hover,.zt_c_32 .video_area td.video_tit a:hover,.zt_c_33 .video_area td.video_tit a:hover,.zt_c_34 .video_area td.video_tit a:hover,.zt_c_35 .video_area td.video_tit a:hover{text-decoration:none;}
.zt_c_31 .video_pic .data_bg,.zt_c_32 .video_pic .data_bg,.zt_c_33 .video_pic .data_bg,.zt_c_34 .video_pic .data_bg,.zt_c_35 .video_pic .data_bg{width:120px;height:17px;position:absolute;left:0; bottom:0;background:url(http://mat1.gtimg.com/news/visual/common/bdhui_pic_bg.png) left bottom no-repeat !important;_background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://mat1.gtimg.com/news/visual/common/bdhui_pic_bg.png");}
.zt_c_31 .video_pic .data_bg .data,.zt_c_32 .video_pic .data_bg .data,.zt_c_33 .video_pic .data_bg .data,.zt_c_34 .video_pic .data_bg .data,.zt_c_35 .video_pic .data_bg .data{float:right; margin-right:3px;color:#fff;line-height:17px;font-family:tahoma; font-style:normal;}
.zt_c_31 .video_area .video_pic span,.zt_c_32 .video_area .video_pic span,.zt_c_33 .video_area .video_pic span,.zt_c_34 .video_area .video_pic span,.zt_c_35 .video_area .video_pic span{position:absolute;left:5px;bottom:5px;background:url(http://mat1.gtimg.com/news/visual/common/splogo.png) no-repeat;display:block;width:25px;height:25px;_background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://mat1.gtimg.com/news/visual/common/splogo.png");}

#copyright_table_zt tr{text-align:center;}

/* 指定id的微博消息 */
.mbmsgul {line-height:22px;font-family:宋体,"arial narrow";background:#fff;font-size:12px;margin:0;padding:0;zoom:1}
.mbmsgul:after{content:'.';display:block;visibility:hidden;clear:both;height:0;}
.mbmsgul li {position:relative;zoom:1}
.mbmsgul li:after{content:'.';display:block;visibility:hidden;clear:both;height:0;}
.mbmsgul li .userMB{margin-top:10px;}
.topicbox {width:100%;}
.clearfix {zoom:1;}
.clearfix:after {line-height:0;display:block;height:0;visibility:hidden;clear:both;font-size:0;content:'.';}
.clear {line-height:0;width:100%;height:0;clear:both;font-size:0;}
.mbmsgul .tc,.wbmsg .tc {text-align:center;}
.mbmsgul .tl,.wbmsg .tl {text-align:left;}
.mbmsgul .tr,.wbmsg .tr {text-align:right;}
.mbmsgul .dis,.wbmsg .dis {display:block;}
.mbmsgul .undis,.wbmsg .undis {display:none;}
.mbmsgul .fl,.wbmsg .fl {float:left;}
.mbmsgul .fr,.wbmsg .fr {float:right;}
.mbmsgul .cl,.wbmsg .cl {clear:both;}
.mbmsgul .MBMsgOut,.wbmsg .MBMsgOut{margin-left:94px;margin-right:10px;}
.mbmsgul .MBMsg,.wbmsg .MBMsg {border:#d0d0d0 1px solid;position:static;line-height:24px;width:auto;font-size:14px;min-height:65px;padding:10px 15px;}
.mbmsgul .MBMsg span,.wbmsg .MBMsg span{word-wrap:break-word;text-align:left;display:block;}
.mbmsgul .MBMsg a,.wbmsg .MBMsg a{color:#2B4A78; }
.mbmsgul .MBMsg a:hover,.wbmsg .MBMsg a:hover{color:#2B4A78;text-decoration:underline;}
.mbmsgul .MBMsg .tar,.wbmsg .MBMsg .tar {font-size:12px;margin-top:10px;}
.mbmsgul .MBMsg .tar a,.wbmsg .MBMsg .tar a{color:#2B4A78;}
.userInfo {margin-top:10px;display:inline;float:left;}
.userInfo .mb_user{text-align:center;width:64px;display:block;overflow:hidden;color:#2B4A78;margin:0 10px 0 20px;word-wrap:break-word;}
.userInfo img {border-bottom:#d2d2d2 1px solid;border-left:#d2d2d2 1px solid;border-top:#d2d2d2 1px solid;border-right:#d2d2d2 1px solid;}
.arrow {position:absolute;top:150px;left:99px;}
.left.arrow {width:6px;font-size:12px;overflow:hidden;}
.inner.left.arrow {color:#fff;}
.outer.left.arrow {color:#d0d0d0;left:98px;}
#popbgmask.D .bg {background:#000;opacity:0.6;filter:alpha(opacity=60);left:0;position:absolute;top:0;width:100%;z-index:6;height:auto;}
#popbgmask.D .bg .bgCover {height:100%;width:100%;margin:0 auto;}
#popbgmask.D .CR {left:30%;position:absolute;top:0;z-index:1000;margin:0 auto;}
#popbgmask.D .tbSendMsg .tl,#popbgmask.D .tbSendMsg .tr,#popbgmask.D .tbSendMsg .bl, #popbgmask.D .tbSendMsg .br,#popbgmask.D .tm,#popbgmask.D .bm{background:#8E8E8E;width:auto;heihgt:auto;}
#popbgmask.D .B_Frame{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;filter:alpha(opacity=0);}
.DCont {position:relative;z-index:6;}
#popbgmask.D .BF {position:absolute;top:0;left:-5px;width:500px;height:100%;z-index:2;}
#popbgmask.D .tbSendMsg .lm,#popbgmask.D .tbSendMsg .rm{border-width:3px;*border-width:0;}
.graybg {background:none repeat scroll 0 0 #F2F2F2;width:480px;padding:5px;}
.graybg .undis {border:1px solid #C3E0EC;background:#DCEFF7;font-size:12px;}
.graybg .undis .border1,.zfInfo {width:460px;}
.graybg div.hd {font-weight:700;font-size:14px;padding-left:9px;border:1px solid #c3e0ec;height:38px;line-height:38px;color:#1081c0;background:url(http://mat1.gtimg.com/sports/2011zhibo5/mbask_new/img/right-hd-bg.png) repeat-x;}
.graybg .hd span {color:#4d4d4d;font-size:12px;}
.graybg .hd span em {color:#1081c0;font-style:normal;}
.graybg .cz {float:right;margin-right:10px;font-size:12px;font-weight:400;}
.zfInfo {margin:5px auto;}
.massage .border1 {border:1px solid #9bdefa;width:460px;height:63px;line-height:18px;font-size:12px;overflow:auto;background:#FFF url(http://mat1.gtimg.com/sports/2011zhibo5/mbask_new/img/textBg.png) repeat-x;margin:5px 0 0 5px;padding:3px;}
.sentM {padding-bottom:5px;}
.sentM .btn {float:right;display:inline-block;height:19px;line-height:18px;color:#FFF;text-align:center;width:62px;background:#7dbc26;border:1px solid #6ca818;margin:5px 12px 0 0;}
.sentM .btn:hover {background:url(http://mat1.gtimg.com/sports/2011zhibo5/mbask_new/img/bg_20110329.png) no-repeat;overflow:hidden;background-position:-618px -23px;text-decoration:none;}
.wordNum {float:left;display:inline;margin:5px 7px 0;}
.wordNum em {color:#1081C0;}
.MBMsg .tar a:hover,.userInfo a:hover {text-decoration:underline;color:#2B4A78;}
.MBMsg .tar .mb_pub_time{float:left;cursor: pointer;color: #889DB6;min-width:75px;}
.userInfo .msgbyid_attentBox{width: 50px;height: 17px;overflow: hidden;white-space: nowrap;margin:0 10px 0 20px;text-align: center;text-decoration: none;position:static !important;}
.userInfo .msgbyid_attentBox a:hover{color: white;text-decoration: none;}
.userInfo .msgbyid_attentBox .msgbyid_addAttention{width: 38px;height: 20px;background-color: #89B4CA;overflow: hidden;border: 0;cursor: pointer;color: white;display: block;*margin-left:-20px;}
.userInfo .msgbyid_attentBox .msgbyid_delAttention{width:38px;color: #999!important;background: none!important;cursor: auto;margin:0 !important;}
.mbmsgul li .arrow {position:absolute;top:30px;left:89px;}
.mbmsgul li .inner.left.arrow {color:#fff;}
.mbmsgul li .outer.left.arrow {color:#d0d0d0;left:88px;}
.mbmsgul .zt{float:right;margin-left:80px;*margin-left:87px;}
#wbmsgbyid_ui_ct .wbmsg .MBMsgOut{margin-left:94px}
.mbmsgul .userInfo .mb_user{margin:0 10px;width:64px !important;}
.ui-sortable .mbmsgul li .arrow {left:89px;}
.ui-sortable .mbmsgul li .outer.left.arrow {left:88px;}
#wbmsgbyid_ui_ct .arrow{left:99px;!important}
#wbmsgbyid_ui_ct .outer{left:98px;!important}

.mbmsgul .userPic{padding: 13px 0 4px 12px;position: relative;float:left;width:auto;}
.mbmsgul .userPic .mb_user{display: block;line-height: 1.3;margin-top: 5px;width: 50px;text-align:center;}
.mbmsgul .userPic .msgbyid_attentBox{width: 40px;height: 17px;overflow: hidden;white-space: nowrap;margin:5px 5px 0 6px;*margin:5px 5px 0 3px;text-align: center;text-decoration: none;}
.ui-sortable .mbmsgul .userPic .msgbyid_attentBox{width: 40px;margin:5px 5px 0 6px;*margin:5px 5px 0 3px;}
.mbmsgul .userPic .msgbyid_attentBox .msgbyid_addAttention{width: 38px;height: 20px;background-color: #89B4CA;overflow: hidden;border: 0;cursor: pointer;color: white;display: block;}
.mbmsgul .userPic .msgbyid_attentBox .msgbyid_delAttention{width:38px;color: #999!important;background: none!important;cursor: auto;margin:0 !important;}
.mbmsgul .msgBox{display: inline;float: left;margin-left: -64px;padding: 10px 0;overflow: hidden;word-wrap: break-word;border-bottom:1px dashed #999;width:100%;*width:auto;min-height:75px;}
.mbmsgul .msgBox .user_msgCnt{margin-left:80px;margin-right:10px;}
.userName{color: #999999;display: inline;font-size: 14px;height: 20px;line-height: 20px;}
.msgCnt{display:inline;font-size: 14px;overflow: hidden;word-wrap: break-word;}
.mbmsgul .userName .vip{background: url(http://mat1.gtimg.com/www/mb/images/b1_110429a.png) no-repeat -212px -126px;padding:8px;margin-left: 2px;vertical-align: text-top;}
.mbmsgul .userName .vip{*display:inline-block;*padding:0;*width:16px;*height:16px;*background-position:-212px -130px;}
.userName strong,.msgCnt strong{font-weight:normal;padding-right: 5px;text-align: left;}
.msgCnt em{color:#999}
.left{float:left;}
.funBox{ display: inline-block;float: right;height: 23px;padding:0 !important;}
.pubInfo{margin: 10px 10px 0 80px;clear: both;color: #999999;height: 19px;line-height: 19px;overflow: hidden;position: static;}/*  |xGv00|6ee4cc5f8b67521f0dda69f91292e67f */